*.iso
*.elf
*.bin
*.o
*.a
*.so
**/compile_commands.json
**/.clangd
*.img
bin/*
!bin/jmk
**/Makefile
**/Jmk.options
.gitignore
.idea
**/.#*
src/kernel/dri/pci/vendors.c
doc/_build
!doc/Makefile
mnt/*
doc/_dox*