*.iso
*.elf
*.bin
*.o
*.a
*.so
**/compile_commands.json
**/.clangd
*.img
bin/*
!bin/jmk
!bin/jmk2
**/Makefile
**/Jmk.options
.gitignore
.idea
**/.#*
**/*~
src/kernel/dri/pci/vendors.c
doc/_build
!doc/Makefile
mnt/*
doc/_dox*
.ccls*
GTAGS
GPATh
GRTAGS
GPATH
.projectile
